<header class="header-bar d-flex d-lg-block align-items-center" data-aos="fade-left">
    <div class="site-logo">
      <a href="/home">Rhinoplasty</a>
    </div>
    
    <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

    <div class="main-menu">
      <ul class="js-clone-nav">
        <li {{#if active_home}} class="active" {{/if}}><a href="/home">Home</a></li>
        <li {{#if active_about}} class="active" {{/if}}><a href="/about">About Us</a></li>
        <li {{#if active_rhin}} class="active" {{/if}}><a href="/rhinoplasty">Rhinoplasty</a></li>
        <li {{#if active_meet}} class="active" {{/if}}><a href="/meetings">Meetings</a></li>
        <li {{#if active_offical}} class="active" {{/if}}><a href="/officalJournal">Official Journal</a></li>
        <li {{#if active_surg}} class="active" {{/if}}><a href="/findSurgeon">Find a Surgeon</a></li>
        <li {{#if active_link}} class="active" {{/if}}><a href="/links">Links</a></li>
        {{#if toggle}}
            <li ><a href="/auth/signOut" id="signOut">Sign Out</a></li>
        {{else}}
            <li {{#if active_sign}} class="active" {{/if}}><a href data-toggle="modal" data-target="#loginModal">SignIn</a></li>            
        {{/if}}
      </ul>
      <ul class="social js-clone-nav">
        <li><a href="#"><span class="icon-facebook"></span></a></li>
        <li><a href="#"><span class="icon-twitter"></span></a></li>
        <li><a href="#"><span class="icon-instagram"></span></a></li>
      </ul>
    </div>
  </header> 
  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>