{{> header}}
<main class="main-content">
    {{>jumbotron}}
    <div class="container about-div">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/about">ABOUT US</a></li>
                <li class="breadcrumb-item active" aria-current="page">New Bylaws 2018</li>
            </ol>
        </nav>
        <div class="row align-items-stretch">
            <div class="col-md-11 ml-3 mr-2 nb-det">
                <h3 class="text-center">BYLAWS OF
                    THE RHINOPLASTY SOCIETY OF ARMENIA</h3>
                <br>
                {{!-- Article 1 --}}
                <article>
                    <p class="text-center article-header">Article 1</p>
                    <p class="text-center article-header">NAME</p>
                    <p class="article-text">§1 – The name of this organization shall be “The Rhinoplasty Society of
                        Europe”.</p>
                    <p class="article-text">§2 – The Society is listed in the register of associations at the municipal
                        court in Stuttgart,
                        Germany under registration number VR 720930 (Amtsgericht Stuttgart – VR 720930).</p>
                </article>
                {{!-- Article 2 --}}
                <article>
                    <p class="text-center article-header">Article 2</p>
                    <p class="text-center article-header">MISSION STATEMENT</p>
                    <p class="article-text">The mission of The Rhinoplasty Society of Europe is;</p>
                    <ol class="article-list">
                        <li>To provide a forum for exchange of information and ideas relating to the art and science of
                            rhinoplasty.</li>
                        <li>To promote and update education and research pertaining to rhinoplasty in order to inform
                            the membership, the medical profession, and the general public.</li>
                        <li>To insure the highest standards of professional skill and competence among Rhinoplasty
                            Surgeons.</li>
                        <li>To promote the highest ethical standards of professional conduct among Rhinoplasty Surgeons.
                        </li>
                        <li>To cooperate with other national and international organizations for the advancement of
                            knowledge in the field of rhinoplasty.</li>
                        <li>To produce an annual Scientific Meeting comprised of peer-reviewed presentations by Nasal
                            Surgeons in Europe and other countries. The meetings will be open to members of the Society
                            and their Plastic Surgical or Otolaryngologist or Maxillofacial guests and to trainees in
                            one of these three specialties.</li>
                        <li>To serve as a non-political organization dedicated to the study of nasal surgery,
                            specifically designed and organized to minimize any inter-specialty differences. Actions
                            that indicate or imply artificial standards or hierarchies among members and/or other
                            surgeons are contrary to the philosophical intent of the organization.
                        </li>
                    </ol>
                </article>
                {{!-- Article 3 --}}
                <article>
                    <p class="text-center article-header">Article 3</p>
                    <p class="text-center article-header">MEMBERSHIP</p>
                    <h6 class="article-sub-header">§ 1 Membership</h6>
                    <p class="article-text">Membership is a privilege that is accorded by “The Rhinoplasty Society of
                        Europe” to persons who meet the qualifications established hereafter.</p>

                    <h6 class="article-sub-header">§ 2 Variety of Memberships</h6>
                    <p class="article-text">There shall be four membership categories including Founding member, Full
                        member, Associate member and Honorary member.</p>

                    <h6 class="article-sub-header">§ 3 Founding Members</h6>
                    <p class="article-text">The Founding Members shall encompass those members who organized and
                        established ‘’The Rhinoplasty Society of Europe“. Founding Members have the rights and duties of
                        Full members.</p>

                    <h6 class="article-sub-header">§ 4 Full members</h6>
                    <p class="article-sub-header">A: Requirements for Full Membership</p>
                    <p class="article-text">Persons who are board certified in Plastic, ENT, Maxillofacial Surgery or
                        equivalent by the national recognized deputed authority (European and else).</p>
                    <ol class="article-list">
                        <li>Active interest in rhinoplasty as documented to the satisfaction of the Membership Committee
                            by the submission of a verifiable CV and satisfactory ethical Status. Under some specific
                            circumstances, and at the discretion of the Membership Committee, applicants may be
                            recommended for Full Membership based on exceptional merit as demonstrated by contributions
                            to teaching, writing, and outstanding contributions in rhinoplasty.</li>
                        <li>In order to maintain the Full Member Status attendance to at least one General Assembly of
                            ‘’The Rhinoplasty Society of Europe“ is required within a three (3) consecutive years
                            period.</li>
                    </ol>
                    <p class="article-sub-header">B: Voting privileges</p>
                    <p class="article-text">Each member has the right to one vote at any membership meeting during the
                        year for which he/she is a member in good standing, each member in good standing may hold office
                        and serve on a committee of the Society.</p>
                    <p class="article-sub-header">C: Fees</p>
                    <p class="article-text">Full and Associate members will pay annual dues at the yearly rate which can
                        be modified by the Assembly.</p>

                    <h6 class="article-sub-header">§ 5 Associate members</h6>
                    <p class="article-sub-header">A: Requirements for Associate Membership</p>
                    <p class="article-text">Persons who are training in Plastic, ENT or Maxillofacial Surgery with
                        written proof of Resident Status. At the end of the training period, Associate Members must
                        apply for Full membership status.</p>
                    <p class="article-sub-header">B: Voting privileges</p>
                    <p class="article-text">Honorary Members may not vote at General Assemblies, but may serve on
                        committees and may exercise such voting privileges concerning and limited to committee business
                    </p>
                    <p class="article-sub-header">C: Fees</p>
                    <p class="article-text">Honorary members are exempt from dues but are responsible for registration
                        fees at meetings or any other activities to which they participate.</p>
                </article>
            </div>
        </div>
        <hr>
        {{>footer}}
    </div>
</main>