{{> header}}
<main class="main-content">
    {{>jumbotron}}
    <div class="container about-div" data-aos="fade-out" data-aos-delay="100">
        <a href="/about" class="ml-3 back-link">&larr; Back to About Us</a>
        <div class="row align-items-stretch">

            <div class="col-md-11 ml-3 mr-2 member-det">
                <strong> Complete list of our current members sorted by their last names.</strong>
                <br>
                <br>
                <ul class="list-group">
                    <li class="list-group-item">Mohammad</li>
                    <li class="list-group-item">Abadi</li>
                    <li class="list-group-item">Hamburg</li>
                    <li class="list-group-item">Germany</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">Aleksandar</li>
                    <li class="list-group-item">Admira</li>
                    <li class="list-group-item">Gilbert</li>
                    <li class="list-group-item">Aiach</li>
                    <li class="list-group-item">Paris</li>
                    <li class="list-group-item">France</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">Mohammad</li>
                    <li class="list-group-item">Abadi</li>
                    <li class="list-group-item">Hamburg</li>
                    <li class="list-group-item">Germany</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">Aleksandar</li>
                    <li class="list-group-item">Admira</li>
                    <li class="list-group-item">Gilbert</li>
                    <li class="list-group-item">Aiach</li>
                    <li class="list-group-item">Paris</li>
                    <li class="list-group-item">France</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">Mohammad</li>
                    <li class="list-group-item">Abadi</li>
                    <li class="list-group-item">Hamburg</li>
                    <li class="list-group-item">Germany</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">Aleksandar</li>
                    <li class="list-group-item">Admira</li>
                    <li class="list-group-item">Gilbert</li>
                    <li class="list-group-item">Aiach</li>
                    <li class="list-group-item">Paris</li>
                    <li class="list-group-item">France</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">Mohammad</li>
                    <li class="list-group-item">Abadi</li>
                    <li class="list-group-item">Hamburg</li>
                    <li class="list-group-item">Germany</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">Aleksandar</li>
                    <li class="list-group-item">Admira</li>
                    <li class="list-group-item">Gilbert</li>
                    <li class="list-group-item">Aiach</li>
                    <li class="list-group-item">Paris</li>
                    <li class="list-group-item">France</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">Mohammad</li>
                    <li class="list-group-item">Abadi</li>
                    <li class="list-group-item">Hamburg</li>
                    <li class="list-group-item">Germany</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">Aleksandar</li>
                    <li class="list-group-item">Admira</li>
                    <li class="list-group-item">Gilbert</li>
                    <li class="list-group-item">Aiach</li>
                    <li class="list-group-item">Paris</li>
                    <li class="list-group-item">France</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">Mohammad</li>
                    <li class="list-group-item">Abadi</li>
                    <li class="list-group-item">Hamburg</li>
                    <li class="list-group-item">Germany</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">Aleksandar</li>
                    <li class="list-group-item">Admira</li>
                    <li class="list-group-item">Gilbert</li>
                    <li class="list-group-item">Aiach</li>
                    <li class="list-group-item">Paris</li>
                    <li class="list-group-item">France</li>
                </ul>
            </div>
        </div>
        <hr>
        {{>footer}}
    </div>
</main>