{{> header}}
<main class="main-content">
    {{>jumbotron}}
    <div class="container about-div">
        <a href="/about" class="ml-5 back-link">&larr; Back to About Us</a>
        <div class="row align-items-stretch">
            <div class="col-md-11 ml-5 mr-2 mission-det">
                <h5>The Rhinoplasty Society of Europe is a non-profit organisation dedicated to the open exchange of
                    innovative ideas and techniques concerning plastic, reconstructive and aesthetic rhinoplasty.</h5>
                <br>
                <strong>The Society consists of Surgeons throughout Europe and abroad who specialise in
                    rhinoplasty.</strong>
                <br><br>
                <p>The goal of the Rhinoplasty Society of Europe is education and exchange of experience. Therefore the
                    bylaws are structured that plastic surgeons, otorhinolaryngologists and maxillofacial surgeons will
                    be represented on the Board of Directors. The intention of the Founding Members was that the
                    Rhinoplasty Society of Europe acts as an educational platform for its members, to allow specialized
                    members who have a strong clinical, teaching, and research interest in plastic, reconstructive and
                    aesthetic rhinoplasty to exchange and develop their ideas and to work out problems in a common forum
                    of mutual respect and collegiality.</p>

                <p>The Annual Meeting provides a forum for invited and submitted papers in a peer-reviewed format. The
                    Rhinoplasty Society of Europe seeks to provide educational material in a program open to surgical
                    specialists with interest in plastic, reconstructive and aesthetic rhinoplasty.
                </p>
            </div>
        </div>
        <hr>
        {{>footer}}
    </div>
</main>