{{> header}}
<main class="main-content">
    {{>jumbotron}}

    <div class="container about-div">
        <a href="/about" class="ml-3 back-link">&larr; Back to About Us</a>
        <div class="row align-items-stretch">

            <div class="col-md-11 ml-3 mr-2 history-det">
                <p>
                    A few years ago the idea was born to found a European Society for surgeons who specialize in
                    rhinoplasty analog to the 1996 founded U.S. Rhinoplasty Society.
                    Therefore a group of nine surgeons (plastic surgeons and otorhinolaryngologists) from Europe founded
                    in May 2011 the Rhinoplasty Society of Europe in Stuttgart, Germany. The Rhinoplasty Society of
                    Europe, is intended as a scientifical and educational platform for plastic surgeons,
                    otorhinolaryngologists and maxillofacial surgeons who are deeply committed to plastic,
                    reconstructive and aesthetic nasal surgery.</p>

                <p>The first formal congress was after the 20th Anniversary Advanced Course for Functional and
                    Aesthetic Rhinoplasty in Stuttgart, Germany in April of 2012, at which the first President, Prof.
                    Dr. med. Dr. med. habil Wolfgang Gubisch, presided.
                </p>
                {{!-- IMG --}}
                <div class="card">
                    <img class="card-img-top" src="/images/about-history.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Historical Review of the „Rhinoplasty Society of Europe“</p>
                    </div>
                </div>

                <h5 class="history-date">04.05.2011</h5>

                <p> Foundation of the „European Rhinoplasty Society“ in Stuttgart by Nazim Cerkes, Andreas Dacho, Helmut
                    Fischer, Wolfgang Gubisch, Michael Bromba, Werner Heppt, Rainer Rupprecht, Konstantin Lipski, Enrico
                    Robotti. Application for registration as a non-profit organisation.</p>

                <h5 class="history-date">21.04.2012</h5>

                <p> 1st Congress of the „Rhinoplasty Society of Europe“ in Stuttgart. Because the name „European
                    Rhinoplasty Society“ had been patented by others in August 2011 we decided not to fight in front of
                    the court, but changed the name into „Rhinoplasty Society of Europe“. Approval of the constitution
                    and the bylaws including changing the name, installation of the board. The constitution of the board
                    demonstrates this society as an open one for all who are interested, independent of their
                    speciality.</p>

                <h5 class="history-date">May 2012</h5>

                <p> President: Prof. Dr. med. Dr. h. c. Wolfgang Gubisch<br>
                    President elect: Prof. Dr. Nazim Cerkes<br>
                    Vice president: Prof. Dr. Enrico Robotti</p>

                <p>Secretary: Dr. Andreas Dacho<br>
                    Treasurer: Prof. Dr. Werner Heppt</p>

                <p>Board members:<br>
                    Dr. Charles East, Prof. Dr. Hossam Foda, Dr. Olivier Gerbault, Prof. Dr.Riccardo Mazzola.</p>

                <p> As honorary members have been elected Dr. Gilbert Aiach, Prof. Dr. Claus Walter and Dr. Rollin
                    Daniel.</p>

                <p> We invite you to join the „Rhinoplasty Society of Europe“.</p>

                <p>Please save the dates of our next meeting in Istanbul on 23rd June 2013, just after the Rhinoplasty
                    Course.</p>
            </div>
        </div>
        <hr>
        {{>footer}}
    </div>
</main>