{{> header}}
<main class="main-content">
  {{>jumbotron}}

  <div class="container about-div">

    <div class="row align-items-stretch">

      <div class="col-md-5 col-panels ml-3 mr-2" data-aos="fade-left" data-aos-delay="100">

        <h2>History</h2>
        <p>A few years ago the idea was born to found a European Society for surgeons who specialize in rhinoplasty
          analog to the 1996 founded U.S. Rhinoplasty Society. </p>
        <button class="btn btn-blue"><a class="link-to-page" href="/about/history">Read More.</a></button>

      </div>

      <div class="col-md-5 col-panels ml-3 mr-2" data-aos="fade-left" data-aos-delay="200">

        <h2>Mission</h2>
        <p>The Rhinoplasty Society of Europe is a non-profit organisation dedicated to the open exchange of innovative
          ideas and techniques concerning ...
        </p>
        <button class="btn btn-blue"><a class="link-to-page" href="/about/mission">Read More.</a></button>
      </div>
      <div class="col-md-5 col-panels ml-3 mr-2" data-aos="fade-left" data-aos-delay="300">
        <h2>Board Of Directors</h2>
        <p>Honorary President Gilbert Aiach, M.D. France (Honorary President) Honorary Member Rollin K. Daniel, M.D.
          Newport Beach, USA (Honorary Member) Past ...</p>
        <button class="btn btn-blue"><a class="link-to-page" href="/about/board-of-directors">Read More.</a></button>
      </div>

      <div class="col-md-5 col-panels ml-3 mr-2" data-aos="fade-left" data-aos-delay="400">
        <h2>Commitees</h2>
        <p>Membership Committee Konstantin Lipski (Russia) - Chair Marcos Harel (Israel) Stefan Maas (Germany) Education
          Committee Enrico Robotti (Italy) - Chair ...</p>
        <button class="btn btn-blue"><a class="link-to-page" href="/about/commitees">Read More.</a></button>
      </div>

      <div class="col-md-5 col-panels ml-3 mr-2" data-aos="fade-left" data-aos-delay="300">
        <h2>New Bylaws 2018</h2>
        <p>BYLAWS OF THE RHINOPLASTY SOCIETY OF EUROPE Article I NAME §1 - The name of this organization shall be “The
          ... </p>
        <button class="btn btn-blue"><a class="link-to-page" href="/about/new-bylaws">Read More.</a></button>
      </div>

      <div class="col-md-5 col-panels ml-3 mr-2" data-aos="fade-left" data-aos-delay="400">
        <h2>Members</h2>
        <p>Complete list of our current members sorted by their last names ...
        </p>
        <button class="btn btn-blue"><a class="link-to-page" href="/about/members">Read More.</a></button>
      </div>
    </div>
    <hr>
    {{>footer}}
  </div>
</main>