{{> header}}
<main class="main-content">
    {{>jumbotron}}

    <div class="container about-div" data-aos="fade-in" data-aos-delay="100">
        <a href="/about" class="ml-5 back-link">&larr; Back to About Us</a>
        {{> committees-nav}}

        <h3 class="mb-3 ml-5">Education Committee</h3>
        <div class="row align-items-stretch">
            <div class="card col-md-3 ml-5 mb-4 mt-2">
                <img class="card-img-top" src="/images/doc-170x183.jpg" alt="Card image cap">
                <div class="card-body">
                    <strong class="card-text"> Honnory President </strong>
                    <p class="card-text">Gilbert Aiach, M.D. France (Honorary President)</p>
                </div>
            </div>
            <div class="card col-md-3 ml-5 mb-4 mt-2">
                <img class="card-img-top" src="/images/doc-170x183.jpg" alt="Card image cap">
                <div class="card-body">
                    <strong class="card-text"> Honnory President </strong>
                    <p class="card-text">Gilbert Aiach, M.D. France (Honorary President)</p>
                </div>
            </div>
            <div class="card col-md-3 ml-5 mb-4 mt-2">
                <img class="card-img-top" src="/images/doc-170x183.jpg" alt="Card image cap">
                <div class="card-body">
                    <strong class="card-text"> Honnory President </strong>
                    <p class="card-text">Gilbert Aiach, M.D. France (Honorary President)</p>
                </div>
            </div>
        </div>
        <hr>
        {{>footer}}
    </div>
</main>