{{> header}}
<main class="main-content">
    {{>jumbotron}}

    <div class="container about-div">

        <div class="row align-items-stretch">

            <div class="col-md-11 col-panels ml-3 mr-2" data-aos="fade-left" data-aos-delay="100">

                <div class="container">
                    <h1>Events Calendar</h1>
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
        <hr>
        {{>footer}}
    </div>
</main>