{{> header}}
<main class="main-content">
    {{>jumbotron}}

    <div class="container message-div " data-aos="fade-in" data-aos-delay="400">
        <div class="row align-items-stretch">
            <div class="col-md-11 ml-3 mr-2 message-det">
                <p>2nd International Meeting of Rhinoplasty Societies was held in Loews Hotel – South Miami Beach on 29
                    – 31 October 2018.</p>
                <p>Over 400 surgeons attended the meeting and the scientific level was very high. The best 42
                    rhinoplasty experts from all over the world has attended the meeting as faculty.</p>
                <p>After getting positive feedback from the participants, TRS and RSE has decided to organize the 3rd
                    IMRHIS in 2020 in Vienna. </p>
            </div>
        </div>
        <div class="row justify-content-md-start ml-3">
            <div class="col-md-3 align-self-start imrhis-imgs"><img src="/images/imrhis1.JPG" class="img-thumbnail">
            </div>
            <div class="col-md-3 align-self-start imrhis-imgs"><img src="/images/imrhis2.jpg" class="img-thumbnail">
            </div>
            <div class="w-100 mb-2"></div>
            <div class="col-md-3 align-self-start imrhis-imgs"><img src="/images/imrhis3.jpg" class="img-thumbnail">
            </div>
            <div class="col-md-3 align-self-start imrhis-imgs"><img src="/images/imrhis4.JPG" class="img-thumbnail">
            </div>
        </div>
        <hr>
        {{>footer}}
    </div>
</main>