{{> header}}
<main class="main-content">
  {{>jumbotron}}
  <div class="container">
    <div class="row align-items-stretch">

      <div class="col-md-5 col-panels ml-5 mr-2" data-aos="fade-down" data-aos-delay="100">
        <img src="/images/journal.jpg" class="img-thumbnail">
      </div>
      <div class="col-md-5 col-panels ml-5 mr-2" data-aos="fade-down" data-aos-delay="100">
        <h2>Official Journal</h2>
        <p>The new Editor in Chief of Aesthetic Plastic Surgery Journal, Bahman Guyuron offered to the RSE affiliation
          to the Journal. We already signed the contract and RSE became one of the affiliated societies as being
          official journal. The name of the RSE will be seen on the masthead of each issue of APS Journal. We encourage
          our members to publish their works at APS.</p>

      </div>
    </div>
    <hr>
    {{>footer}}
  </div>
</main>