{{> header}}
<main class="main-content">
    {{>jumbotron}}

    <div class="container message-div " data-aos="fade-in" data-aos-delay="400">
        <div class="row align-items-stretch">
            <div class="col-md-11 ml-5 mr-2 message-det">
                <p>Dear Colleagues,</p>
                <p>First of all, I would like to thank all of you for electing me President of the Rhinoplasty Society
                    of Europe during the annual meeting in Versailles. During my two years presidential term I will try
                    to do my best to make the RSE more prominent in the world. We are scientifically very strong and
                    respected group, so I believe that this will not be so difficult.</p>
                <p>I would like to thank to Prof.Wolfgang Gubisch for his great efforts in the foundation and all the
                    great achievements for RSE. Without him, this Society would not exist. I also thank all founding
                    members and Board of Directors for their efforts and support during the foundation period and after
                    that. I also thank all of our distinguished members for being part of this Society.</p>
                <p>The goal of the Rhinoplasty Society of Europe is education and exchange of experience between
                    different disciplines. Therefore the bylaws are structured that plastic surgeons,
                    otorhinolaryngologists and maxillofacial surgeons will be represented on the Board of Directors. The
                    Rhinoplasty Society of Europe acts as an educational platform for its members, to allow specialised
                    members who have a strong clinical, teaching, and research interest in rhinoplasty to exchange and
                    develop their ideas and to work out problems in a common forum of mutual respect and collegiality.
                </p>
            </div>
        </div>
        <hr>
        {{>footer}}
    </div>
</main>