{{> header}}
<main class="main-content">
  {{>jumbotron}}

  <div class="container r-div">

    <form action={{url}} method="post" id="resetForm">

      <div class="form-group col-sm-6 mb-3 mt-3 control-group pwd_group">
        <label for="pwd">Password:</label>
        <div class="input-group">
          <input type="password" name="forgot_password" data-toggle="password" class="form-control" id="rpwd"
            required="true">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-eye"></i>
            </span>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group col-sm-6 mb-5 mt-1 control-group confirm_group">
        <label for="confirm">Confirm Password:</label>
        <div class="input-group">
          <input type="password" name="forgot_confirm" class="form-control" id="rconfirm" required="true"
            data-toggle="password">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-eye"></i>
            </span>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Change</button>
    </form>
    <hr>
    {{>footer}}
  </div>
</main>