{{> header}}
<main class="main-content">
    {{>jumbotron}}

    <div class="container rhinoplasty-div">
        <a href="/rhinoplasty" class="ml-3 back-link">&larr; Back to Rhinoplasty</a>
        <div class="row align-items-stretch">

            <div class="col-md-11 col-panels ml-3 mr-2" data-aos="fade-left" data-aos-delay="100">
                <p>Rhinoplasty (commonly referred to as a “nose job “) is a cosmetic surgery that involves resizing or
                    reshaping the nose. Airway problems due to the deviation of skeletal structures are also be
                    corrected at this operation. Over the past decade, rhinoplasty has become one of the most commonly
                    performed aesthetic surgeries in Europe and the world.</p>
                <p>Rhinoplasty can be considered one of the most complex and challenging procedures in cosmetic surgery.
                    The trends over the past decade have shifted away from reduction or division of the cartilage
                    framework of the nose to conserving the native anatomy and augmenting deficient areas to restore
                    balance and structural support.</p>
                <p>Primary rhinoplasty refers to first – time nasal surgery, whether for cosmetic or functional
                    purposes, as opposed to secondary rhinoplasty, which indicates the patient has had one or more
                    previous rhinoplasty surgeries.</p>
                <p>Primary rhinoplasty involves removing excess bone or cartilage, augmenting deficient areas and
                    altering the internal nasal structures, thereby improving the structural support of the nose. The
                    final changes may be subtle or dramatic, depending on the needs of the patient.</p>
                <p>Primary Rhinoplasty has two major approaches : CLOSED (internal approach) and OPEN (external
                    approach).<br>
                    In the Closed Rhinoplasty, the nose is approached via an internal incision ( no external visible
                    scars). The surgeon works on the internal nasal structures through this approach. In the Open
                    Rhinoplasty, a very small external incision is made on the columella to open the nose. Most scars
                    resulting from the open rhinoplasty are usually favourable, very rarely conspicuous. This technique
                    allows the surgeon to visualise most areas of the nose and facilitates the procedure, especially in
                    secondary and difficult cases. This approach gives the surgeon a three-dimensional view of the nose,
                    which helps to reorganise the nasal structures.</p>
            </div>
        </div>
        <hr>
        {{>footer}}
    </div>
</main>