{{> header}}
<main class="main-content">
    {{>jumbotron}}

    <div class="container rhinoplasty-div">
        <a href="/rhinoplasty" class="ml-3 back-link">&larr; Back to Rhinoplasty</a>
        <div class="row align-items-stretch">

            <div class="col-md-11 col-panels ml-3 mr-2" data-aos="fade-left" data-aos-delay="100">
                <p>Secondary ( Revision) Rhinoplasty is a very specialised area in rhinoplasty surgery. It corrects the
                    inferior results and addresses the size, width, profile, tip and nasal asymmetry from the previous
                    surgeries. It also helps to redress the problem of breathing, as a result of the structural failure
                    in the nose. Secondary rhinoplasty many times involves augmentation of the nose. Autografts from the
                    rib or ear cartilage are usually preferred by most surgeons, as they have the least amount of
                    complications.</p>
                <p>It is very important to know the patient’s expectations from the surgery, and in return know the
                    surgeon’s goals. At the end of a rhinoplasty consultation, the patient and surgeon come to a
                    conclusion as to what areas of the nose need to be dealt with and if he/she is the right candidate
                    for rhinoplasty.</p>
                <p>Final results depend on the surgeon’s experience and patient desires . Patients with realistic
                    expectations are likely to be more happy at the end. Thus, it is important to understand the
                    patient’s needs and then let them know if the final result can be achieved or they should hold off
                    the surgery. Also, patients with different skin types, will show different end results.</p>
            </div>
        </div>
        <hr>
        {{>footer}}
    </div>
</main>