{{> header}}
<main class="main-content">
  {{>jumbotron}}

  <div class="container rhinoplasty-div">

    <div class="row align-items-stretch">

      <div class="col-md-5 col-panels ml-3 mr-2" data-aos="fade-left" data-aos-delay="100">

        <h2>Rhinoplasty</h2>
        <p>Rhinoplasty (commonly referred to as a "nose job ") is a cosmetic surgery that involves resizing or reshaping
          the nose. Airway problems due to the deviation of skeletal structures are ...</p>
        <button class="btn btn-blue"><a class="link-to-page" href="/rhinoplasty/main">Read More.</a></button>

      </div>

      <div class="col-md-5 col-panels ml-3 mr-2" data-aos="fade-left" data-aos-delay="200">

        <h2>Secondary Rhinoplasty</h2>
        <p>Secondary ( Revision) Rhinoplasty is a very specialised area in rhinoplasty surgery. It corrects the inferior
          results and addresses the size, width, profile, tip and nasal asymmetry from the previous ...
        </p>
        <button class="btn btn-blue"><a class="link-to-page" href="/rhinoplasty/secondary">Read More.</a></button>
      </div>
    </div>
    <hr>
    {{>footer}}
  </div>
</main>